@import 'variables';

.container {
  padding-block: 45px;
  width: 100%;
  max-width: 1173px;
}

.content-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-result  {
  font-size: 1rem;
}
